{%- load_yaml as raw_server %}
Debian:
  pkgs:
  - isc-dhcp-server
  service: isc-dhcp-server
  logging:
    facility: local7
  defaults_config: /etc/default/isc-dhcp-server
  config_dir: /etc/dhcp
  dhcpd_config: /etc/dhcp/dhcpd.conf
  hosts_config: /etc/dhcp/dhcpd.hosts
  subnets_config: /etc/dhcp/dhcpd.subnets
  zone: {}
FreeBSD:
  pkgs:
  - isc-dhcp42-server
  service: isc-dhcpd
  logging:
    facility: local7
  defaults_config: /etc/rc.conf.d/dhcpd
  config_dir: /usr/local/etc
  dhcpd_config: /usr/local/etc/dhcpd.conf
  hosts_config: /usr/local/etc/dhcpd.hosts
  subnets_config: /usr/local/etc/dhcpd.subnets
  zone: {}
RedHat:
  pkgs:
  - dhcp
  service: dhcpd
  logging:
    facility: local7
  defaults_config: /etc/sysconfig/dhcpd
  zone: {}
Darwin:
  pkgs:
  - dhcp
  service: org.macports.dhcpd
  config_dir: /opt/local/etc/dhcp
  zone: {}
{%- endload %}

{%- set server = salt['grains.filter_by'](raw_server, merge=salt['pillar.get']('isc_dhcp:server')) %}
