Source: salt-formula-isc-dhcp
Maintainer: Jan Kaufman <jan.kaufman@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-isc-dhcp
Vcs-Git: https://github.com/tcpcloud/salt-formula-isc-dhcp.git

Package: salt-formula-isc-dhcp
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: isc-dhcp salt formula
 Install and configure isc-dhcp server
